#header {
	width: 100%;
	height: 100px;
	float: left;
	background: #bc2;
}

#header > div {
	width: 1000px;
	height: 100%;
	/*background: rgba(255,255,255,0.2);*/
	z-index: 9999999;
	line-height: 100px;
}

#header div div img {
	float: left;
	margin: 5px;
	width: 200px;
	height: 100%;
}

#header div nav ul {
	float: right;
	margin-right: 50px;
	display: block;
}

#header div nav ul li {
	display: inline;
	margin-left: 30px;
}

#header div nav ul li a {
	font-size: 16px;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
}

.header_fixo {
	position: fixed;
	top: 0px;
	z-index: 99999999
}

.header_fixo > div {
	line-height: 60px !important;
}

#slide {
	width: 100%;
	height: 400px;
	float: left;
	background: url('http://indesignsecrets.com/wp-content/uploads/2009/06/picture-29.png');
}

#slide > div {
	position: relative;
	width: 1000px;
	height: 100%;
	background: rgba(255,255,255,0.2);
}

#slide div ul li img, #slide div ul, #slide div ul li {
	width: 100%;
	height: 100%;
	z-index: 1
}

#slide div:hover > #slide_anterior, #slide div:hover > #slide_proximo {
	display: block;
}

#slide_anterior, #slide_proximo {
	position: absolute;
	top: 165px;
	width: 40px;
	height: 70px;
	display: none;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999999;
	text-align: center;
	line-height: 70px;
	color:#fff;
	cursor: pointer;
}

#slide_anterior {
	left: 0px;
	border-radius: 0px 5px 5px 0px;
}

#slide_proximo {
	right: 0px;
	border-radius: 5px 0px 0px 5px;
}

#content1 {
	width: 100%;
	height: 1000px;
	float: left;
	background: url('http://blog.thornyeternity.com/wp-content/uploads/2011/05/waves-vertical-repeat.jpg');
}

#content1 > div {
	width: 1000px;
	height: 100%;
	background: rgba(255,255,255,0.2);
}

#content2 {
	width: 100%;
	height: 1000px;
	float: left;
	background: url('http://static.tumblr.com/ge74hdk/G3flw5yrs/wood_pattern.png');
}

#content2 > div {
	width: 1000px;
	height: 100%;
	background: rgba(255,255,255,0.2);
}

#content3 {
	width: 100%;
	height: 1000px;
	float: left;
	background: url('http://i.stack.imgur.com/IehB7.png');
}

#content3 > div {
	width: 1000px;
	height: 100%;
	background: rgba(255,255,255,0.2);
}

#content1, #content2, #content3 {

}
#footer {
	position: fixed;
	width: 100%;
	height: 25px;
	bottom:0px;
	z-index: 9999999;
	background: #c53;
}

#footer > div {
	width: 1000px;
	height: 100%;
	/*background: rgba(255,255,255,0.2);*/
}